@font-face {
  font-family: OldEnglish;
  src: url(./fonts/CloisterBlack.ttf);
}
html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  margin: 0;
  font-family: "Tenali Ramakrishna", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 7vh;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #8a00b4;
  z-index: 1;
}
@media (min-width: 1200px) {
  header {
    height: 8vh;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  width: 100%;
  font-family: OldEnglish, sans-serif;
  padding-left: 2%;
}
@media (min-width: 992px) {
  .nav {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .nav {
    height: 8vh;
  }
}
.nav a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
@media (min-width: 992px) {
  .nav a {
    font-size: 2rem;
  }
}
.nav a:hover {
  color: white;
}
.nav .fa-shopping-cart {
  font-size: 1.5rem;
  cursor: pointer;
}
@media (min-width: 992px) {
  .nav .fa-shopping-cart {
    font-size: 1.75rem;
  }
}

.logo {
  animation: logo-rotate 1s both infinite;
}

@keyframes logo-rotate {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.body-content {
  margin-top: 15vh;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.modal .cart-overlay {
  background-color: #fefefe;
  margin: 10% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, dependin */
  height: 60vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .modal .cart-overlay {
    height: 80vh;
  }
}
.modal .cart-overlay .CTL-logo {
  height: 10vh;
  width: 35%;
  position: relative;
  right: 12%;
}
@media (min-width: 768px) {
  .modal .cart-overlay .CTL-logo {
    right: 8%;
  }
}
@media(min-width: 992px) {
  .modal .cart-overlay .CTL-logo {
    right: 4%;
    height: 15vh;
    width: 22.5%;
  }
}
@media(min-width: 1200px) {
  .modal .cart-overlay .CTL-logo {
    width: 17.5%;
    right: 2%;
  }
}
.modal .cart-overlay .cart-card {
  position: relative;
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: fit-content;
}
.modal .cart-overlay .cart-card h1 {
  width: 15%;
  margin: 0% 3%;
}
@media (min-width: 992px) {
  .modal .cart-overlay .cart-card h1 {
    width: 10%;
  }
}
.modal .cart-overlay .cart-card form {
  width: 15%;
  margin: 0 1%;
}
@media (min-width: 768px) {
  .modal .cart-overlay .cart-card form {
    margin: 0 -2%;
    padding-left: 4%;
  }
}
.modal .cart-overlay .cart-card form input {
  margin-top: 5%;
  width: 75%;
}
@media (min-width: 768px) {
  .modal .cart-overlay .cart-card form input {
    margin-top: 2%;
    width: 25%;
  }
}
.modal .cart-overlay .cart-card img, .modal .cart-overlay .cart-card div {
  height: 4.5vh;
  margin-top: 2%;
  width: 15.5%;
}
@media (min-width: 992px) {
  .modal .cart-overlay .cart-card img, .modal .cart-overlay .cart-card div {
    height: 15vh;
    margin-top: 3px;
    width: 10%;
  }
}
.modal .cart-overlay .cart-card .cancel {
  position: absolute;
  font-size: 1.5rem;
  right: 0px;
  top: 2px;
  cursor: pointer;
}
.modal .cart-overlay a {
  margin-top: -4%;
  text-decoration: none;
  color: black;
}
@media (min-width: 768px) {
  .modal .cart-overlay a {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
  }
}
.modal .cart-overlay a .checkout-button {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  width: 100%;
  border-radius: 7px;
  background-color: white;
  border: 1px solid #8a00b4;
  cursor: pointer;
}
.modal .cart-overlay a .checkout-button:hover {
  background-color: #8a00b4;
  color: white;
  border: 1px solid black;
}
@media (min-width: 768px) {
  .modal .cart-overlay a .checkout-button {
    width: 20%;
    height: 5vh;
    font-size: 1.25rem;
  }
}
.modal .close {
  position: relative;
  color: #aaa;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .modal .close {
    top: 0%;
  }
}
.modal .close:hover, .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#about {
  padding-top: 17.5vh;
  margin-top: -7.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about h1 {
  font-family: OldEnglish, sans-serif;
  font-size: 1.75rem;
}
#about p {
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
#about img {
  height: 4vh;
  width: 7%;
}
@media (min-width: 992px) {
  #about img {
    height: 4vh;
    width: 4%;
  }
}
@media (min-width: 1200px) {
  #about img {
    height: 3vh;
    width: 3%;
  }
}

#gallery {
  padding-top: 10.5vh;
  margin-top: -7.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gallery h1 {
  font-family: OldEnglish, sans-serif;
  font-size: 1.75rem;
}
#gallery img {
  height: 100vh;
  width: 100%;
}

#contact {
  padding-top: 10.5vh;
  margin-top: -7.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#contact h1 {
  font-family: OldEnglish, sans-serif;
  font-size: 1.75rem;
}

#shop {
  padding-top: 17.5vh;
  margin-top: -7.5vh;
  font-size: 1.25rem;
}
#shop .title {
  font-family: OldEnglish, sans-serif;
  font-size: 1.75rem;
  text-align: center;
}
#shop .product-link {
  width: 95%;
  text-decoration: none;
  color: black;
  margin: 2vh 0;
  cursor: default;
}
@media (min-width: 992px) {
  #shop .product-link {
    width: 45%;
    margin: 2vh 2%;
    justify-content: space-between;
    padding: 0;
  }
}
#shop .product-link .shop-product-card {
  display: flex;
  margin: 2vh 0;
}
@media (min-width: 992px) {
  #shop .product-link .shop-product-card {
    justify-content: space-between;
    padding: 0;
  }
}
#shop .product-link .shop-product-card .shop-product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
#shop .product-link .shop-product-card .shop-product-info h1 {
  margin: 0;
}
#shop .product-link .shop-product-card .shop-product-info .shop-product-description {
  width: 95%;
}
#shop .product-link .shop-product-card .shop-product-info p {
  margin: 0;
}
#shop .product-link .shop-product-card .shop-product-info div {
  display: flex;
  align-items: center;
  margin: 0;
  height: fit-content;
}
#shop .product-link .shop-product-card .shop-product-info div h2 {
  margin: 0;
  margin-right: 10px;
}
#shop .product-link .shop-product-card .shop-product-info .shop-product-colors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#shop .product-link .shop-product-card .shop-product-info .shop-product-colors h2 {
  margin: 0;
}
#shop .product-link .shop-product-card .shop-product-info .shop-product-sizes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#shop .product-link .shop-product-card .shop-product-info .shop-product-sizes h2 {
  margin: 0;
}
#shop .product-link .shop-product-card .shop-product-info .shop-product-sizes .shop-productcard-size-button-container {
  display: flex;
  margin-bottom: 2vh;
  flex-wrap: wrap;
}
#shop .product-link .shop-product-card .shop-product-info .shop-product-sizes .shop-productcard-size-button-container .shop-productcard-size-button {
  height: 3vh;
  width: 60px;
  border: 1px solid #8a00b4;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh 8px;
}
@media (min-width: 1200px) {
  #shop .product-link .shop-product-card .shop-product-info .shop-product-sizes .shop-productcard-size-button-container .shop-productcard-size-button {
    height: 4vh;
  }
}
#shop .product-link .shop-product-card .shop-product-info .shop-product-sizes .shop-productcard-size-button-container .shop-productcard-color-button {
  border: 1px solid black;
}
#shop .shop-products-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#shop .shop-products-container .loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#shop .shop-products-container .loading-container .loading {
  width: 10%;
  height: 10vh;
}
@media (min-width: 992px) {
  #shop .shop-products-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.product-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
}
@media (min-width: 992px) {
  .product-container {
    flex-direction: row;
  }
}
.product-container .product-info {
  padding-left: 10%;
  margin-bottom: 5%;
}
@media (min-width: 992px) {
  .product-container .product-info {
    margin-left: 10%;
  }
}
.product-container .product-info h1, .product-container .product-info h2 {
  margin: 0;
}
.product-container .product-info p {
  margin: 0;
}
.product-container .product-info .product-price {
  display: flex;
  align-items: center;
  margin: 0;
  height: fit-content;
}
.product-container .product-info .product-price h2 {
  margin: 0;
  margin-right: 10px;
}
.product-container .product-info .product-button-container {
  display: flex;
  flex-wrap: wrap;
}
.product-container .product-info .product-button-container .product-size-button {
  height: 3vh;
  width: 60px;
  border: 1px solid #8a00b4;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh 8px;
  padding-top: 2%;
  padding-bottom: 1%;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .product-container .product-info .product-button-container .product-size-button {
    height: 4vh;
  }
}
.product-container .product-info .product-button-container .product-size-button:hover {
  background-color: #8a00b4;
  color: white;
  border: 1px solid black;
}
.product-container .product-info .product-quantity-container {
  display: flex;
  align-items: center;
}
.product-container .product-info .product-quantity-container .product-quantity {
  margin-left: 8%;
  width: fit-content;
  height: fit-content;
  border-radius: 7px;
  border: 1px solid #8a00b4;
}
.product-container .product-info a {
  text-decoration: none;
  color: black;
}
.product-container .product-info a .product-add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47%;
  height: 5vh;
  width: 180px;
  border: 1px solid #8a00b4;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.product-container .product-info a .product-add-to-cart:hover {
  background-color: #8a00b4;
  color: white;
  border: 1px solid black;
}
@media (min-width: 992px) {
  .product-container .product-info a .product-add-to-cart {
    margin-top: 10%;
  }
}

.carousel {
  position: relative;
  height: 20vh;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .carousel {
    width: 55%;
    height: 35vh;
  }
}
.carousel img {
  height: 20vh;
  width: 100%;
}
@media (min-width: 1200px) {
  .carousel img {
    height: 35vh;
  }
}
.carousel .carousel-arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 7.5vh;
  width: 100%;
}
@media (min-width: 1200px) {
  .carousel .carousel-arrows {
    bottom: 15vh;
  }
}
.carousel .carousel-arrows button {
  color: #8a00b4;
  border: hidden;
  background-color: transparent;
  font-size: 2rem;
  font-family: "Tenali Ramakrishna", sans-serif;
  padding: 0;
}
.carousel .carousel-arrows button:hover {
  color: black;
  cursor: pointer;
}
.carousel .delete-image {
  color: red;
}

.product-carousel {
  position: relative;
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .product-carousel {
    width: 45%;
    height: 45vh;
  }
}
@media (min-width: 1200px) {
  .product-carousel {
    height: 55vh;
  }
}
.product-carousel img {
  height: 35vh;
  width: 100%;
}
@media (min-width: 992px) {
  .product-carousel img {
    height: 45vh;
  }
}
@media (min-width: 1200px) {
  .product-carousel img {
    height: 55vh;
  }
}
.product-carousel .product-carousel-arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 15vh;
  width: 90%;
}
@media (min-width: 992px) {
  .product-carousel .product-carousel-arrows {
    bottom: 25vh;
  }
}
@media (min-width: 1200px) {
  .product-carousel .product-carousel-arrows {
    bottom: 28vh;
  }
}
.product-carousel .product-carousel-arrows button {
  color: #8a00b4;
  border: hidden;
  background-color: transparent;
  font-size: 2rem;
  font-family: "Tenali Ramakrishna", sans-serif;
  padding: 0;
}
.product-carousel .product-carousel-arrows button:hover {
  color: black;
  cursor: pointer;
}
.product-carousel .delete-image {
  color: red;
}

#checkout {
  overflow-y: auto;
  padding-top: 17.5vh;
  margin-top: -7.5vh;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#checkout .title {
  font-family: OldEnglish, sans-serif;
  font-size: 1.75rem;
  text-align: center;
}
#checkout .shipping-address-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 71vh;
  width: 80%;
}
@media (min-width: 768px) {
  #checkout .shipping-address-form {
    width: 60;
  }
}
@media (min-width: 1200px) {
  #checkout .shipping-address-form {
    height: 75vh;
  }
}
#checkout .shipping-address-form label {
  margin: 7% 0;
}
@media (min-width: 768px) {
  #checkout .shipping-address-form label {
    margin: 2% 0%;
  }
}
@media (min-width: 1200px) {
  #checkout .shipping-address-form label {
    margin: 1.5%;
  }
}
#checkout .shipping-address-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#checkout .shipping-address-form input[type=number] {
  -moz-appearance: textfield;
}
#checkout .shipping-address-form .name-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#checkout .shipping-address-form .name-container input {
  width: 30%;
}
#checkout .shipping-address-form .company-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 768px) {
  #checkout .shipping-address-form .company-container {
    padding-right: 18%;
  }
}
#checkout .shipping-address-form .company-container input {
  width: 60%;
}
#checkout .shipping-address-form .email-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#checkout .shipping-address-form .email-container input {
  width: 69%;
}
#checkout .shipping-address-form .phone-number-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 768px) {
  #checkout .shipping-address-form .phone-number-container {
    padding-right: 18%;
  }
}
#checkout .shipping-address-form .phone-number-container .area-code {
  width: 8%;
}
#checkout .shipping-address-form .phone-number-container .phone-number {
  width: 25%;
}
@media (min-width: 768px) {
  #checkout .shipping-address-form .address-container {
    padding-left: 6%;
  }
}
@media (min-width: 1200px) {
  #checkout .shipping-address-form .address-container {
    padding-left: 7%;
  }
}
#checkout .shipping-address-form .address-container input {
  margin-left: 5%;
}
#checkout .shipping-address-form .address-container .city {
  width: 30%;
}
#checkout .shipping-address-form .address-container .state {
  width: 30%;
}
#checkout .shipping-address-form .address-container .zipcode {
  width: 30%;
}
#checkout .shipping-address-form .address-container .country {
  width: 33%;
  margin-left: 5%;
}
#checkout .shipping-address-form .shipping-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#checkout .shipping-address-form .shipping-button-container input {
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 1.25rem;
  height: 3vh;
  width: 60px;
  border: 1px solid #8a00b4;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh 8px;
  background-color: white;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  #checkout .shipping-address-form .shipping-button-container input {
    height: 4vh;
  }
}
#checkout .shipping-address-form .shipping-button-container input:hover {
  background-color: #8a00b4;
  color: white;
  border: 1px solid black;
}
#checkout .billing-confirm {
  padding: 0 2%;
  width: 95%;
  /* Could be more or less, dependin */
  height: 60vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#checkout .billing-confirm .CTL-logo {
  height: 10vh;
  width: 35%;
  position: relative;
  right: 12%;
}
@media (min-width: 768px) {
  #checkout .billing-confirm .CTL-logo {
    right: 8%;
  }
}
@media(min-width: 992px) {
  #checkout .billing-confirm .CTL-logo {
    right: 4%;
    height: 15vh;
    width: 22.5%;
  }
}
@media(min-width: 1200px) {
  #checkout .billing-confirm .CTL-logo {
    width: 17.5%;
    right: 2%;
  }
}
#checkout .billing-confirm .cart-card {
  font-size: 1rem;
  position: relative;
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: fit-content;
}
#checkout .billing-confirm .cart-card h1 {
  width: 50px;
  margin: 0% 3%;
}
@media (min-width: 992px) {
  #checkout .billing-confirm .cart-card h1 {
    width: 100px;
  }
}
#checkout .billing-confirm .cart-card form {
  width: 15%;
  margin: 0 1%;
}
@media (min-width: 768px) {
  #checkout .billing-confirm .cart-card form {
    margin: 0 -2%;
    padding-left: 4%;
  }
}
#checkout .billing-confirm .cart-card form input {
  margin-top: 5%;
  width: 75%;
}
@media (min-width: 768px) {
  #checkout .billing-confirm .cart-card form input {
    margin-top: 2%;
    width: 25%;
  }
}
#checkout .billing-confirm .cart-card img, #checkout .billing-confirm .cart-card div {
  height: 4.5vh;
  margin-top: 2%;
  width: 15.5%;
}
@media (min-width: 992px) {
  #checkout .billing-confirm .cart-card img, #checkout .billing-confirm .cart-card div {
    height: 15vh;
    margin-top: 3px;
    width: 10%;
  }
}
#checkout .billing-confirm .cart-card .cancel {
  position: absolute;
  font-size: 1.5rem;
  right: 0px;
  top: 2px;
  cursor: pointer;
}
#checkout .billing-confirm a {
  margin-top: -4%;
  text-decoration: none;
  color: black;
}
@media (min-width: 768px) {
  #checkout .billing-confirm a {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
  }
}
#checkout .billing-confirm a .checkout-button {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  width: 100%;
  border-radius: 7px;
  background-color: white;
  border: 1px solid #8a00b4;
  cursor: pointer;
}
#checkout .billing-confirm a .checkout-button:hover {
  background-color: #8a00b4;
  color: white;
  border: 1px solid black;
}
@media (min-width: 768px) {
  #checkout .billing-confirm a .checkout-button {
    width: 20%;
    height: 5vh;
    font-size: 1.25rem;
  }
}
#checkout .payment-buttons-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  #checkout .payment-buttons-container {
    flex-direction: row;
    padding-left: 25%;
  }
}
#checkout .paypal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#checkout .stripe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  #checkout .stripe-container {
    width: 100%;
  }
}
#checkout .stripe-container #payment-form {
  margin-top: 2%;
  width: 90%;
  /* Buttons and links */
  /* spinner/processing state, errors */
}
@media (min-width: 768px) {
  #checkout .stripe-container #payment-form {
    width: 70%;
  }
}
#checkout .stripe-container #payment-form .result-message {
  line-height: 22px;
  font-size: 16px;
}
#checkout .stripe-container #payment-form .result-message a {
  color: #8a00b4;
  font-weight: 600;
  text-decoration: none;
}
#checkout .stripe-container #payment-form .hidden {
  display: none;
}
#checkout .stripe-container #payment-form #card-error {
  color: #697386;
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  text-align: center;
}
#checkout .stripe-container #payment-form #card-element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}
#checkout .stripe-container #payment-form #payment-request-button {
  margin-bottom: 32px;
}
#checkout .stripe-container #payment-form button {
  background: #8a00b4;
  font-family: "Tenali Ramakrishna", sans-serif;
  color: #ffffff;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
#checkout .stripe-container #payment-form button:hover {
  filter: contrast(115%);
}
#checkout .stripe-container #payment-form button:disabled {
  opacity: 0.5;
  cursor: default;
}
#checkout .stripe-container #payment-form .spinner,
#checkout .stripe-container #payment-form .spinner:before,
#checkout .stripe-container #payment-form .spinner:after {
  border-radius: 50%;
}
#checkout .stripe-container #payment-form .spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
#checkout .stripe-container #payment-form .spinner:before,
#checkout .stripe-container #payment-form .spinner:after {
  position: absolute;
  content: "";
}
#checkout .stripe-container #payment-form .spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
#checkout .stripe-container #payment-form .spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  #checkout .stripe-container #payment-form form {
    width: 80vw;
  }
}

#admin-login {
  padding-top: 17.5vh;
  margin-top: -7.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#admin-login h1 {
  font-family: OldEnglish, sans-serif;
  font-size: 1.75rem;
}
#admin-login form {
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#admin-login form input {
  border: 1px solid black;
  border-radius: 5px;
  margin: 3% 0;
}
#admin-login form button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.admin-tools {
  padding-top: 17.5vh;
  margin-top: -7.5vh;
}
.admin-tools #x {
  visibility: hidden;
}
.admin-tools i {
  font-size: 2rem;
  position: fixed;
  left: 90%;
  z-index: 1;
}
@media (min-width: 992px) {
  .admin-tools i {
    left: 96%;
  }
}
@media (min-width: 1200px) {
  .admin-tools i {
    left: 97%;
  }
}

#admin-nav {
  position: fixed;
  height: 93vh;
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #8a00b4;
  visibility: hidden;
  margin-top: -4vh;
  z-index: 1;
}
@media (min-width: 1200px) {
  #admin-nav {
    width: 10%;
    margin-top: -2vh;
  }
}
#admin-nav a {
  margin: 50% 0;
  text-decoration: none;
  color: black;
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 1.5rem;
  line-height: 1.25rem;
}
#admin-nav a:hover {
  color: white;
}
@media (min-width: 992px) {
  #admin-nav a {
    font-size: 1.75rem;
    margin: 20% 0;
  }
}

#admin-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.25rem;
  width: 100%;
}
#admin-products h1 {
  font-family: OldEnglish, sans-serif;
  font-size: 1.75rem;
  text-align: center;
}
#admin-products #add-product {
  border: 1px solid black;
  border-radius: 5px;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}
#admin-products #add-product #form-description {
  width: 100%;
  height: 7.5vh;
}
#admin-products #add-product #file-group {
  width: 90%;
  margin-left: 10%;
}
#admin-products #add-product #size-group {
  margin-left: 25%;
}
#admin-products #add-product #form-size {
  width: 15%;
  margin-right: 5%;
}
#admin-products #add-product #form-size-quantity {
  width: 15%;
  margin-right: 1%;
}
#admin-products #add-product #form-price {
  width: 35%;
}
#admin-products #add-product #form-quantity {
  width: 10%;
}
@media (min-width: 992px) {
  #admin-products #add-product {
    flex-direction: column;
    width: 30%;
  }
}
#admin-products .admin-product-card {
  width: 100%;
  display: flex;
  margin: 2vh 0;
  position: relative;
  padding-left: 1%;
}
@media (min-width: 992px) {
  #admin-products .admin-product-card {
    width: 45%;
    margin: 2vh 2%;
    justify-content: space-between;
  }
}
#admin-products .admin-product-card #name {
  width: 50%;
}
#admin-products .admin-product-card textarea {
  width: 280px;
  height: 43px;
}
#admin-products .admin-product-card .admin-product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
#admin-products .admin-product-card .admin-product-info .price-input {
  width: 40px;
}
#admin-products .admin-product-card .admin-product-info .admin-product-description {
  width: 100%;
}
#admin-products .admin-product-card .admin-product-info div {
  display: flex;
  align-items: center;
  margin: 0;
  height: fit-content;
}
#admin-products .admin-product-card .admin-product-info div h2 {
  margin: 0;
  margin-right: 10px;
}
#admin-products .admin-product-card .admin-product-info .admin-product-stock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#admin-products .admin-product-card .admin-product-info .admin-product-stock h2 {
  margin: 0;
}
#admin-products .admin-product-card .admin-product-info .admin-product-stock .admin-product-stock-container {
  display: flex;
  margin-bottom: 2vh;
  flex-wrap: wrap;
  width: 100%;
}
#admin-products .admin-product-card .admin-product-info .admin-product-stock .admin-product-stock-container .admin-product-stock-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #8a00b4;
  border-radius: 5px;
  margin: 4px 2%;
  width: 25%;
  height: 10vh;
}
@media (min-width: 1200px) {
  #admin-products .admin-product-card .admin-product-info .admin-product-stock .admin-product-stock-container .admin-product-stock-form-container {
    width: 15%;
    height: 12vh;
  }
}
#admin-products .admin-product-card .admin-product-info .admin-product-stock .admin-product-stock-container .admin-product-stock-form-container input {
  width: 85%;
  border: gray;
}
#admin-products .admin-product-card .admin-product-info .admin-product-stock .admin-product-stock-container .admin-product-stock-form-container .admin-size-edit-icon {
  position: absolute;
  left: 60px;
  font-size: 0.9rem;
  color: #8a00b4;
}
@media (min-width: 1200px) {
  #admin-products .admin-product-card .admin-product-info .admin-product-stock .admin-product-stock-container .admin-product-stock-form-container .admin-size-edit-icon {
    left: 50px;
  }
}
#admin-products .admin-product-card .admin-product-info .admin-product-stock .admin-product-stock-container .admin-product-stock-form-container .admin-size-edit-icon:hover {
  color: black;
}
#admin-products .admin-product-card .admin-product-info .admin-product-stock .admin-product-stock-container .admin-product-stock-form-container .save-size {
  position: absolute;
  bottom: 4px;
  left: 5px;
}
#admin-products .admin-product-card .admin-product-info .admin-product-stock .admin-product-stock-container .admin-product-stock-data-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #8a00b4;
  border-radius: 5px;
  margin: 4px 2%;
}
#admin-products .admin-product-card .admin-product-info .admin-product-stock .admin-product-stock-container .admin-product-stock-data-container p {
  margin: -5px 0;
}
#admin-products .admin-product-card .admin-product-edit-icon {
  position: absolute;
  color: #8a00b4;
}
#admin-products .admin-product-card .admin-product-edit-icon:hover {
  color: black;
}
#admin-products .admin-product-card .submit {
  width: 30%;
}
#admin-products .admin-products-container {
  width: 100%;
}
@media (min-width: 992px) {
  #admin-products .admin-products-container {
    display: flex;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=index.css.map */
